body {
    font-family: Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: grey;
    padding: 25px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 8px 0;
}

.options {
    margin: 10px 0;
}

button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background: #0056b3;
}

.output input {
    width: 100%;
    margin-top: 10px;
    padding: 8px;
}

#password {
    resize: none;
}

textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
}
